*{  
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 22px;
  font-weight: 500;
  font-size: 16px;
  color: #7f7f7f;
  background-color: #fff;
}
img{
  max-width: 100%;
  height: auto;
}
*:focus{
  outline: 2px dashed;
  outline-offset: 3px;
}
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-top{
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px; 
}
.navbar-conatiner{
  display: flex;
  align-items: center;
}
.site-header-logo{
  display: flex;
  padding: 8px 6px;
  margin-right: 35px;
  border-radius:7px;
  background-color: #fff;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}
.currency-rates{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}
.currency-rates-item:not(:last-child){
  margin-right: 25px;
}
.currency-rates-type{
  color:#2959CE
}
.global-search-form{
  margin-right:20px ;
}
.global-search-form-input{
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 40px;
  border: 0;
  border-radius: 60px; 
  font-size: 14px;
  line-height: normal;
}
.lan-tonggle{
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
  font-size: 13px; 
}
.lan-tonggle-link{
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  border-radius: 50%;
  color: #a6a6a6;
  text-align: center;
  text-decoration: none;
}
.lan-tonggle-link-active{
  background-color: #fff;
  color: #000;
}
.btn-navbar{
  display: inline-block;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}
.btn-primary{
  background-color: #7296ec;
  color: #fff;
}
.sitenav{
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 18px;
  line-height: normal;
  font-weight: 500;
}
.navbar-items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-item{
  margin-top: 4px;
  margin-bottom: 4px;
}
.navbar-item:not(:last-child){
  margin-right: 34px;
  
}
.site-nav-links{
  display: block;
  color: #7f7f7f;
  text-decoration: none;
}
.site-nav-links:hover{
  color: #7296ec;
}
.site-nav-links:active{
  opacity: 0.6;
}
.site-header-banner-img{
  display: flex;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -50px;
  margin-bottom: -10px;
}
.card-item{
  list-style: none;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.card-title{

}